# rename it to .env
export GODADDY_APIKEY=API KEY FROM https://developer.godaddy.com/keys/
export GODADDY_APISECRET=API SECRET FROM https://developer.godaddy.com/keys/
export GODADDY_DOMAIN=yourdomaintomanage.com
